<div class="topic" >
  <md-card>
      <button md-raised-button color="accent" style="background-color: #15b136;"(click)="createTopic()">Create Topic</button>
      <button md-raised-button color="accent" style="background-color: red;" (click)="deleteTopic()">Delete Topic</button>
      <h2 style="text-align: -webkit-center; color: #0899db; padding-top: 10px;">Your Topics</h2>

      <md-form-field *ngIf="inputAvail" class="example-full-width" style="display: block;padding-top: 10px;">
        <input mdInput [(ngModel)] ="newTopic" placeholder="Topic Name">
      </md-form-field>

      <md-list *ngIf="topicAvail" style="margin-top: 1%;margin-left: 4%;">
        <md-list-item *ngFor="let topic of topics | orderByPipe">
            <md-checkbox class="example-margin" [(ngModel)]="topic.checked"></md-checkbox>
            <a [routerLink]="['/book',topic.userId,topic.topicId]"  style="padding-left: 12px;" >{{topic.desc}}</a>
        </md-list-item>
      </md-list>
  </md-card>
</div>
