<md-tab-group style="background-color: white;" *ngIf="visible.show">
    <md-tab>
        <ng-template md-tab-label >Nested<em>Book</em>View</ng-template>
        <button md-raised-button color="accent" style="background-color: #15b136;margin-bottom: 11px;margin-top: 5px;margin-left: 11px;" (click)="openDialog()">Add Post</button>
        <button md-raised-button color="accent" style="background-color: red;" (click)="deleteTopic()">Delete Post</button>
        <dyn-panel [data]="data"></dyn-panel>        
    </md-tab>
    <md-tab>
        <ng-template md-tab-label>Book<em>Search</em>View</ng-template>
        <h1>Abhi Time nhi h iske liye</h1>
    </md-tab>
  </md-tab-group>

