<div *ngFor='let panelData of data?.PanelData'>
       
    <md-expansion-panel>
        <md-expansion-panel-header style="background-color:rgb(232, 232, 232);">
            <md-panel-title class="panelTitle">{{panelData.heading}}</md-panel-title>
            <md-panel-description>.</md-panel-description>
           
        </md-expansion-panel-header>
        <md-card>{{panelData.data}}</md-card>
        <dyn-panel *ngIf="panelData.child" [data]="panelData.child"></dyn-panel> 
       
    </md-expansion-panel>
</div>