<md-expansion-panel>
        <md-expansion-panel-header>
            <md-panel-title>
            Personal data
            </md-panel-title>
            <md-panel-description>
            Type your name and age
            </md-panel-description>
        </md-expansion-panel-header>
        <dyn-panel *ngIf="level" [level]="level-1"></dyn-panel>
        <md-form-field>
            <input mdInput placeholder="First name">
        </md-form-field>
        
        <md-form-field>
            <input mdInput placeholder="Age">
        </md-form-field>
    </md-expansion-panel>